@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<!-- Privacy Policy -->
<div class="container">
    <div class="privacy-policy">
        <h2>Privacy Policy</h2>
        <p>This privacy policy has been compiled to better serve those who are concerned with how their information is being used online. The information you provide when registering on this site is used to register you on this site. We do not sell, trade, or otherwise transfer to outside parties your use of this site. We may use your information to contact you regarding this site.</p>
        <p>We do not, under any circumstances, sell, trade, or otherwise transfer to outside parties your use of this site. This site is intended for use by individuals and not by commercial entities. We do not sell, trade, or otherwise transfer to outside parties your use of this site.</p>
        <p>We have the right and responsibility to remove any content that is posted or submitted by users of this site. We also have the right to remove any content for any reason should we deem it inappropriate or offensive. However, we do not guarantee that we will do so.</p>
        <p>If you are a registered user of this site and have agreed to this privacy policy, then you are free to use this site. If you are not a registered user, then you may not use this site. If you do not agree to this privacy policy, then you are not allowed to use this site. By continuing to access or use this site, you indicate your acceptance of this privacy policy. If you do not agree to this privacy policy, then you may not access or use this site. If you are a parent or guardian and believe that your child has provided us with any information, then you are also free to contact us with your concerns.</p>
        <p>This site allows you to register on or login to your account. Once you have registered, you will be provided with information about your account and the ability to add, edit, and delete your content.</p>
        <p>This site does not share any information about you or your account with third parties. We may share aggregated information about site visitors.</p>
        <p>This site does not allow third party cookies to be placed on your computer. We will make a best effort to remove cookies from our site, but we cannot guarantee when or if we will.</p>
    </div>
</div>